body{
    background: black;
}
.galeria{
    width: 100%;
}
.galeria img{
    height:400px;
    width: 400px;
    vertical-align: top;
    opacity: 0.5;
    border: 1px solid white;
    padding: 5px;
    margin: 10px;
  
}
.galeria img:hover{
    opacity: 1;
    border:1px solid blue;
}